#Dataset Description

\
# Upload Dataset : https://www.kaggle.com/datasets/avikasliwal/used-cars-price-prediction/data

## The dataset contains information about Used Cars Price with the following columns:

`index`: Index

`Name`: The brand and model of the car.

`Location`: The location in which the car is being sold or is available for purchase.

`Year`: The year or edition of the model.

`Kilometers_Driven`: The total kilometres driven in the car by the previous owner(s) in KM.

`Fuel_Type`: The type of fuel used by the car. (Petrol / Diesel / Electric / CNG / LPG)

`Transmission`: The type of transmission used by the car. (Automatic / Manual)

`Owner_Type`: Whether the ownership is Firsthand, Second hand or other.

`Mileage`: The standard mileage offered by the car company in kmpl or km/kg

`Engine`: The displacement volume of the engine in cc.

#Tasks

## 1 . Data Cleaning

### Read the dataset

In [77]:
import pandas as pd 

df = pd.read_csv('Used_Cars.csv')

In [7]:
df.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [78]:
df = df.drop(columns='Unnamed: 0')

In [79]:
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

### Handling Missing Values

In [80]:
df.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [42]:
#df = df.drop(columns='New_Price')

In [90]:
#df['Engine'].fillna(df.groupby(['Name','Year'])['Engine'].sum())

grouped_sum = df.groupby(['Name', 'Year'])['Engine'].sum()

In [91]:
grouped_sum

Name                            Year
Ambassador Classic Nova Diesel  2003           1489 CC
Audi A3 35 TDI Attraction       2014           1968 CC
Audi A3 35 TDI Premium          2016           1968 CC
Audi A3 35 TDI Premium Plus     2016           1968 CC
Audi A3 35 TDI Technology       2017           1968 CC
                                             ...
Volvo XC60 D5                   2011    2400 CC2400 CC
                                2015           2400 CC
Volvo XC60 D5 Inscription       2014           2400 CC
Volvo XC90 2007-2015 D5 AT AWD  2014           2400 CC
Volvo XC90 2007-2015 D5 AWD     2014           2400 CC
Name: Engine, Length: 3821, dtype: object

In [1]:
#df['Engine']=df['Engine'].fillna(grouped_sum)

In [18]:
df['Seats'].value_counts()

m= df["Seats"].mean()

In [35]:
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [19]:
m

5.278735151413753

In [40]:
df['Seats']=df['Seats'].fillna(m)

### Correct any inconsistent data entries.

In [45]:
#df['Power'].value_counts()

p =df['Power'].mode()

In [37]:
p

0    74 bhp
Name: Power, dtype: object

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6019 non-null   object
 8   Engine             5983 non-null   object
 9   Power              6019 non-null   object
 10  Seats              6019 non-null   float64
 11  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 564.4+ KB

### Ensure data types are appropriate for each column.

---

In [62]:
df['Mileage']=df['Mileage'].fillna('18.9 kmpl')

In [63]:
df.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               0
Engine               36
Power                 0
Seats                 0
Price                 0
dtype: int64

In [60]:
df['Mileage'].value_counts()

Mileage
18.9 kmpl     172
17.0 kmpl     172
18.6 kmpl     119
20.36 kmpl     88
21.1 kmpl      86
             ...
14.57 kmpl      1
22.8 km/kg      1
8.0 kmpl        1
17.09 kmpl      1
17.24 kmpl      1
Name: count, Length: 443, dtype: int64

In [57]:
A

0    1
Name: count, dtype: int64

In [58]:
df['Mileage']=df['Mileage'].fillna('1')

## 2. Exploratory Data Analysis (EDA)

### Perform summary statistics on the dataset.

### Identify and analyze patterns in the data.

### Visualize the distribution of key variables.

### Explore relationships between variables.

## 3. Data Visualization

* Ensure the visualizations are clear and informative.

### Create visualizations to illustrate the findings from the EDA.

### Use appropriate plots such as histograms, bar charts, pie charts, scatter plots, and heatmaps.

## 4. Insights and Conclusions

* <h3>Summarize the key insights gained from the data analysis.<h3/>
* <h3>Draw conclusions based on the patterns observed in the data.<h3/>

In [64]:
import pandas as pd 
from  sklearn.preprocessing import MinMaxScaler

In [65]:
sc = MinMaxScaler()

In [73]:
cs_d = sc.fit_transform(no_obeject)

In [75]:
pd.DataFrame(cs_d)

             0         1    2         3
0     0.011051  0.571429  0.5  0.008210
1     0.006282  0.809524  0.5  0.075583
2     0.007051  0.619048  0.5  0.025445
3     0.013359  0.666667  0.7  0.034846
4     0.006231  0.714286  0.5  0.108423
...        ...       ...  ...       ...
6014  0.004184  0.761905  0.5  0.027012
6015  0.015359  0.809524  0.5  0.022311
6016  0.008435  0.666667  0.8  0.015417
6017  0.007051  0.714286  0.5  0.013851
6018  0.007205  0.619048  0.5  0.012911

[6019 rows x 4 columns]

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6019 non-null   object
 8   Engine             5983 non-null   object
 9   Power              6019 non-null   object
 10  Seats              6019 non-null   float64
 11  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 564.4+ KB

In [72]:
no_obeject = df[['Kilometers_Driven','Year','Seats','Price']]